parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    scanDirectories:
        - %rootDir%/../../../dev/tests/static/framework/tests/unit/testsuite/Magento
        - %rootDir%/../../../dev/tests/integration/framework/tests/unit/testsuite/Magento
        - %rootDir%/../../../dev/tests/api-functional/_files/Magento
    bootstrapFiles:
        - %rootDir%/../../../dev/tests/static/framework/autoload.php
        - %rootDir%/../../../dev/tests/integration/framework/autoload.php
        - %rootDir%/../../../dev/tests/api-functional/framework/autoload.php
        - %rootDir%/../../../dev/tests/setup-integration/framework/autoload.php
        - %rootDir%/../../../dev/tests/static/framework/Magento/PhpStan/autoload.php
    ignoreErrors:
        # Optional module deps
        -
            message: '#^Class Magento\\GiftCard\\Block\\Catalog\\Product\\View\\Type\\Giftcard not found.#'
            paths:
                - Helper/Item
        -
            message: '#^Class Amasty\\CustomerAttributes\\Helper\\Collection not found.#'
            paths:
                - Model/*
        -
            message: '#^Class Amasty\\Gdpr\\.* not found.#'
            paths:
                - Model/*
        -
            message: '#^Class Amasty\\Gdpr\\.* not found.#'
            paths:
                - Observer/*
        -
            message: '#^Access to constant.*on an unknown class Amasty\\Gdpr\\Model\\.*\.#'
            paths:
                - Model/*
        -
            message: '#^Access to constant.*on an unknown class Amasty\\Gdpr\\Model\\.*\.#'
            paths:
                - Observer/*
        -
            message: '#^Parameter.*has invalid type Magento\\AdvancedSalesRule\\.*\.#'
            paths:
                - Plugin/*
services:
    -
        class: Magento\PhpStan\Reflection\Php\DataObjectClassReflectionExtension
        tags: {phpstan.broker.methodsClassReflectionExtension: {priority: 100}}

    errorFormatter.filtered:
        class: Magento\PhpStan\Formatters\FilteredErrorFormatter
        arguments:
            tableErrorFormatter: @errorFormatter.table
