<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package Meta Tags Templates for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Armah\Meta\Api\Data\ConfigInterface" type="Armah\Meta\Model\Config" />
    <preference for="Armah\Meta\Api\ConfigRepositoryInterface" type="Armah\Meta\Model\Repository\ConfigRepository" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generatorWithRedirect" xsi:type="object">Armah\Meta\Console\Command\GeneratorWithRedirect</item>
                <item name="generatorWithoutRedirect" xsi:type="object">Armah\Meta\Console\Command\GeneratorWithoutRedirect</item>
            </argument>
        </arguments>
    </type>

    <type name="Armah\Meta\Helper\Data">
        <arguments>
            <argument name="catalogHelper" xsi:type="object">Magento\Catalog\Helper\Data\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="config_edit_form_data_source"
                      xsi:type="string">Armah\Meta\Model\ResourceModel\Config\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
