<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package GeoIP Data for Magento 2 (System)
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Store/etc/config.xsd">
    <default>
        <amgeoip>
            <general>
                <location_file_url></location_file_url>
                <block_file_url></block_file_url>
                <block_v6_file_url></block_v6_file_url>
                <location_hash_url></location_hash_url>
                <block_hash_url></block_hash_url>
                <block_v6_hash_url></block_v6_hash_url>
            </general>
            <refresh_ip_database>
                <behaviour>0</behaviour>
                <cron_schedule>5 0 * * *</cron_schedule>
            </refresh_ip_database>
        </amgeoip>
    </default>
</config>
