<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package Cross Linking for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Armah\CrossLinks\Model\Source\ReferenceType">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="Custom Url" xsi:type="const">Armah\CrossLinks\Model\Source\ReferenceType::REFERENCE_TYPE_CUSTOM</item>
                <item name="Product Id" xsi:type="const">Armah\CrossLinks\Model\Source\ReferenceType::REFERENCE_TYPE_PRODUCT</item>
                <item name="Category Id" xsi:type="const">Armah\CrossLinks\Model\Source\ReferenceType::REFERENCE_TYPE_CATEGORY</item>
            </argument>
        </arguments>
    </type>
</config>
