<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.com)
 * @package Seo Toolkit Lite Hyva Compatibility
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Armah_SeoToolkitLiteHyva">
        <sequence>
            <module name="Armah_Base"/>
            <module name="Armah_SeoToolkitLite"/>
            <module name="Hyva_CompatModuleFallback"/>
        </sequence>
    </module>
</config>
