<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah 
 * @package Improved Sorting for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_catalog">
        <observer name="Armah_Sorting::save_catalog_search"
                  instance="Armah\Sorting\Observer\System\ConfigChanged"/>
    </event>
    <event name="admin_system_config_changed_section_armahsorting">
        <observer name="Armah_Sorting::save_armah_search"
                  instance="Armah\Sorting\Observer\System\ConfigChanged"/>
    </event>
</config>
