<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package One Step Checkout Core for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Armah_CheckoutCore" setup_version="1.1.0">
        <sequence>
            <module name="Armah_Base"/>
            <module name="Armah_Geoip" />
            <module name="Magento_Braintree" />
            <module name="Magento_Checkout" />
            <module name="Magento_Reward" />
            <module name="PayPal_Braintree" />
            <module name="TIG_PostNL" />
        </sequence>
    </module>
</config>
