<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package Cross Linking for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="armah_crosslinks_catalogattribute_handler" instance="Armah\CrossLinks\Observer\AddHandler"/>
    </event>
    <event name="catalog_controller_product_init_after">
        <observer name="armah_crosslinks_catalogattribute_handler" instance="Armah\CrossLinks\Observer\AddHandler"/>
    </event>
</config>
