<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.com)
 * @package Seo Toolkit Core Hyva Compatibility
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="armah_seo_toolkit_lite" xsi:type="array">
                    <item name="original_module" xsi:type="string">Armah_SeoToolkitLite</item>
                    <item name="compat_module" xsi:type="string">Armah_SeoToolkitLiteHyva</item>
                </item>
                <item name="armah_seo_toolbar_ai_fix" xsi:type="array">
                    <item name="original_module" xsi:type="string">Armah_SeoToolbarAiFix</item>
                    <item name="compat_module" xsi:type="string">Armah_SeoToolkitLiteHyva</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
