<?xml version="1.0"?>
<!--
/**
 * @author Armah Team
 * @copyright Copyright (c) Armah (https://www.armah.it)
 * @package Google Rich Snippets for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav">
        <plugin name="Armah_SeoRichData::modify_offer_condition_attribute"
                type="Armah\SeoRichData\Plugin\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav\ModifyOfferConditionAttribute" />
    </type>

    <type name="Armah\SeoRichData\Model\Backend\Product\YotpoReviews">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="module_manager" xsi:type="object">Magento\Framework\Module\Manager</item>
            </argument>
        </arguments>
    </type>

    <type name="Armah\SeoRichData\Model\Review\GetAggregateRating">
        <arguments>
            <argument name="ratingProviderPool" xsi:type="array">
                <item name="default"
                      xsi:type="object">Armah\SeoRichData\Model\Review\GetAggregateRating\GetMagentoRating</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="armah_rich_data_preview" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Armah\SeoRichData\Ui\DataProvider\Product\Modifier\AddPreviewData</item>
                    <item name="sortOrder" xsi:type="number">400</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ProductVariantData" type="Armah\Base\Block\Adminhtml\System\Config\Form\Field\Promo\PromoField">
        <arguments>
            <argument name="moduleName" xsi:type="string">Armah_SeoRichDataSubscriptionFunctionality</argument>
            <argument name="promoConfig" xsi:type="array">
                <item name="promoLink" xsi:type="string"></item>
            </argument>
        </arguments>
    </virtualType>
</config>
